@import "src/styles/vars/variables.blue";

.radio {
  display: flex;
  min-height: $radioButtonSize;

  &_disabled {
    pointer-events: none;
    opacity: .5;
  }

  &__input {
    display: none;
    visibility: hidden;

    &:checked {
      + .radio__label {
        &::after {
          background: $primaryColor;
          border-color: transparent;
        }

        &::before {
          transform: scale(1);
        }
      }
    }
  }

  &__label {
    position: relative;
    padding-left: 30px;
    font: 500 14px/#{$radioButtonSize} $fontFamily;
    color: $inputLabelColor;
    user-select: none;

    &::after {
      // radio
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      width: $radioButtonSize;
      height: $radioButtonSize;
      box-sizing: border-box;
      border: 2px solid $inputBorderColor;
      border-radius: 50%;
      transition: border-color .2s ease-in-out;
      background: #fff;
    }

    &::before {
      // radio icon
      position: absolute;
      top: ($radioButtonSize/4) + 1;
      left: ($radioButtonSize/4) + 1;
      width: $radioButtonSelectedSize;
      height: $radioButtonSelectedSize;
      content: '';
      background: white;
      z-index: 2;
      border-radius: 50%;
      transform: scale(0);
      transition: transform 0.2s cubic-bezier(0, -.645, 1, .01);
    }

    &:hover {
      &::after {
        border-color: darken($inputBorderColor, 16);
      }
    }
  }
}
