@import "src/styles/normalize";
@import "src/styles/reboot";

//@import "src/components/Icons/Icons";

#story-root {
  padding: 20px 40px 40px;
}

.info-table {
  border: 1px solid #ddd;

  th, td {
    padding: 8px;
  }

  th {
    border-bottom: 2px solid #ddd;
  }
}
