@import "src/styles/vars/variables.blue";

.checkbox {
  display: flex;
  min-height: $checkBoxSize;

  &_disabled {
    pointer-events: none;
    opacity: .5;
  }

  &__input {
    display: none;
    visibility: hidden;

    &:checked {
      + .checkbox__label {
        &::after {
          border-color: $buttonModPrimaryBg;
          background: $buttonModPrimaryBg
        }

        &::before {
          transform: scale(1);
        }
      }
    }
  }

  &__label {
    position: relative;
    padding-left: 30px;
    font: 500 14px/#{$checkBoxSize} $fontFamily;
    color: $inputLabelColor;
    user-select: none;

    &::after {
      // checkbox
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      width: $checkBoxSize;
      height: $checkBoxSize;
      box-sizing: border-box;
      border: 2px solid $inputBorderColor;
      border-radius: $buttonBorderRadius;
      transition: border-color .2s ease-in-out;
      background: rgba(#000, .0001);
    }

    &::before {
      // checkbox icon
      position: absolute;
      top: 0;
      left: 0;
      width: $checkBoxSize;
      height: $checkBoxSize;
      content: "\e90d";
      font-family: "iconfont";
      font-size: 14px;
      color: white;
      z-index: 2;
      text-align: center;
      transform: scale(0);
      transition: transform 0.2s cubic-bezier(0, -.645, 1, .01);
    }

    &:hover {
      &::after {
        border-color: darken($inputBorderColor, 16);
      }
    }
  }
}
