@import "src/styles/vars/variables.blue";

.button-group {
  display: flex;

  &_direction {
    &_horizontal {
      flex-direction: row;
      flex-wrap: wrap;

      .button-group__item {
        &:not(:last-child) {
          margin-right: $buttonGroupHorizontalGap + 4;
        }
      }
    }

    &_vertical {
      flex-direction: column;

      button {
        width: 100%;
      }

      .button-group__item {
        &:not(:last-child) {
          margin-bottom: $buttonGroupVerticalGap + 4;
        }
      }
    }
  }

  &_tight {
    &.button-group_direction_horizontal {
      .button-group__item {
        &:not(:last-child) {
          margin-right: 0;

          button {
            border-right: 1px solid lighten($buttonModPrimaryBg, 4);

            &[class*="base"] {
              border-color: rgba($buttonBaseColor, .25);
            }
          }
        }

        button {
          border-radius: 0;

          &::after {
            border-radius: 0;
          }
        }

        &:first-child {
          margin: 0;

          button {
            border-top-left-radius: $buttonBorderRadius;
            border-bottom-left-radius: $buttonBorderRadius;

            &::after {
              border-top-left-radius: $buttonBorderRadius;
              border-bottom-left-radius: $buttonBorderRadius;
            }
          }
        }

        &:last-child {
          button {
            border-top-right-radius: $buttonBorderRadius;
            border-bottom-right-radius: $buttonBorderRadius;

            &::after {
              border-top-right-radius: $buttonBorderRadius;
              border-bottom-right-radius: $buttonBorderRadius;
            }
          }
        }
      }
    }

    &.button-group_direction_vertical {
      .button-group__item {
        &:not(:last-child) {
          margin-bottom: 0;

          button {
            border-bottom: 1px solid lighten($buttonModPrimaryBg, 4);

            &[class*="base"] {
              border-color: rgba($buttonBaseColor, .25);
            }
          }
        }

        button {
          border-radius: 0;

          &::after {
            border-radius: 0;
          }
        }

        &:first-child {
          margin: 0;

          button {
            border-top-left-radius: $buttonBorderRadius;
            border-top-right-radius: $buttonBorderRadius;

            &::after {
              border-top-left-radius: $buttonBorderRadius;
              border-top-right-radius: $buttonBorderRadius;
            }
          }
        }

        &:last-child {
          button {
            border-bottom-left-radius: $buttonBorderRadius;
            border-bottom-right-radius: $buttonBorderRadius;

            &::after {
              border-bottom-left-radius: $buttonBorderRadius;
              border-bottom-right-radius: $buttonBorderRadius;
            }
          }
        }
      }
    }
  }

  &__item {
    button {
      margin: 0;
    }
  }
}

